<section id="titulo">
  <div class="titulo_texto">
    <span>Curso Especial de Verano de Hogwarts</span>
  </div>
  <div class="titulo_imagen">
    <img id="escudo_hogwarts_portada" [src]="img_escudo"/>
  </div>
</section>
<section id="contenido">
  <div class="texto_contenido">
    <span>Bienvenidos al curso especial de Verano de Hogwarts para iniciación a la magia.</span>
    <span>Si has llegado hasta aquí es que dispones de las capacidades básicas para convertirte en un mago o una bruja acreditado por el prestigioso colegio de Magia y Hechicería de Hogwarts.</span>
    <span>Pronto encontrarás más información sobre lo que te esperará durante el curso.</span>
  </div>

</section>